@use './utils/mixins.scss' as mixins;

@font-face {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  src: local("Circe"), url("../assets/fonts/CRC55.woff") format("woff");
}

@font-face {
  font-family: "Circe Extra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Circe Extra Light"), url("../assets/fonts/CRC25.woff") format("woff");
}

@font-face {
  font-family: "Circe Light";
  font-style: normal;
  font-weight: normal;
  src: local("Circe Light"), url("../assets/fonts/CRC35.woff") format("woff");
}

@font-face {
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Circe Bold"), url("../assets/fonts/CRC65.woff") format("woff");
}

html {
  font-family: Circe,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  background-color: var(--app-background);

  // dark mode animation
  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  @include mixins.text-paragraph;
}

a {
  color: var(--font-link);
  text-decoration: inherit;

  &:hover {
    color: var(--font-color);
    @include mixins.text-underline;
  }
}

h1,
h2,
h3,
h4 {
  @include mixins.font-inherit;
}
